*{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #d5d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    display: grid;
    align-items: center;
    width: 80vw;
    min-width: 250px;
    border: 2px solid red;
}
nav {
    display: grid;
    justify-items: center;
    width: inherit;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 3;
    grid-row: 1;
}
nav a{
    border: 1px solid black;
    width: 26vw;
    text-align: center;
    border-radius: 1vw;
    font-size: 1.5em;
    color: black;
}
.open-tab{
    color: red;
}
#content-section{
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.template{
    width: 23vw;
    margin: 20px;
    height: 300px !important;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px dotted orange;
    justify-content: flex-end;
}
div img{
    max-height: 250px;
    max-width: 300px;
}
/* .button-container{
    grid-row-start: 24;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
} */
.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: center;
    grid-gap: 10px;
  }
  
  #buttons {
    width: 500px;
    height: auto !important;
  }
  
  #buttons button {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    width: 40px;
    border-radius: 0.5vw;
    cursor: pointer;
  }
  
  #prev, #next {
    width: 70px !important;
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  
  #buttons button:nth-child(n + 1):nth-child(-n + 4) {
    grid-row: 1;
  }
  
  #buttons button:nth-child(n + 5):nth-child(-n + 8) {
    grid-row: 2;
  }
  
  #buttons button:nth-child(n + 9):nth-child(-n + 12) {
    grid-row: 3;
  }
/* .button-container{
    width: auto;
    height: auto !important;
} */
@media screen and (max-width: 1100px){
    #content-section{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 615px){
    #buttons{
        width: 300px;
        height: auto !important;
    }
    #buttons button{
        width: 40px;
        border-radius: 0.5vw;
        cursor: pointer;
        ;
    }
}
@media screen and (max-width: 400px){
    #content-section{
        grid-template-columns: 1fr ;
    }
    div{
        width: 240px;
    }
    div img{
        max-width: 200px;
    }
}